.home-page{
    background-color: #2c3e50;
    overflow-y: hidden;
    font-family: 'Montserrat';
}

.home-intro{
    background: url(blue_3d.png) no-repeat;
    background-color: #1b9bff;
    background-size: cover;
    height: calc(100vh - 80px);
    border-bottom: solid yellow 10px;
    
}

.howto{
    height: 500px;
}

.welcome{
    font-family: 'Montserrat';
    width: 500px;
    height: 100px;
    text-align: center;
    color: white;
    top: 10%;
    left: 5%;
    position: relative;
    background-color: #2c3e50;
    box-sizing: border-box;
    padding: 30px 30px;
    /* opacity: 90%; */
    border-bottom: solid yellow 3px;
    box-shadow: 10px 10px 10px  black;
    
}

.tutorial{
    background: #2c3e50;
    color: white;
    position: relative;
    top: 10%;
    left: 35%;
    width: 500px;
    height: 400px;
}

.tutorial p{
    padding: 10px;
    text-align: center;
}

iframe{
    position: relative;
    left: 5%;
}
/* 
@media (max-width: 952px){
    
} */

@media (max-width: 625px){
    .home-page{
        background-position: top right -200px; 
    }
    .welcome{
        width: 100%;
        top: 0;
        left: 0;
        position: relative; 
        box-shadow: none;
    }
}
